@using ObjInfo.ModuleBaseData
@{
    ViewBag.Title = "_Partial_List_User";
    List<SupplierInfo> list_data = new List<SupplierInfo>();
    if (ViewBag.List != null)
    {
        list_data = ViewBag.List;
    }

}
<div id="divContainTable" class="divmousewheel">
    <table id="_tableDatas" class="clsTable clsTable-border">
        <thead>
            <tr>
                <th class="class50">STT</th>
                <th class="class250">Tên nhà cung cấp</th>
                <th class="class250">Mã nhà cung cấp</th>
                <th class="class250">Số điện thoại</th>
                <th class="class250">Quốc gia</th>
                <th class="class250">Người tạo</th>
                <th class="class100">Chức năng</th>
            </tr>
        </thead>
        @if (list_data.Count == 0)
        {
            <tr role="row" class="odd" style="height: 35px;">

                <td class="tdCenterAlign" colspan="8" style="text-align: center; font-size: 18px; padding: 10px 0px 10px 0px;">
                    <p>Không có kết quả nào</p>
                </td>
            </tr>
        }

        else
        {
            <tbody>
                @foreach (SupplierInfo item in list_data)
                {
                <tr role="row" style="height: 35px;">
                    <td class="tdCenterAlign">@item.STT</td>
                    <td class="tdLeftAlign">@item.Name</td>
                    <td class="tdLeftAlign">@item.Code</td>
                    <td class="tdLeftAlign">@item.Phone</td>
                    <td class="tdLeftAlign">@item.Name_Nation</td>
                    <td class="tdLeftAlign">@item.Created_by</td>
                    <td class="tdCenterAlign" style="white-space:nowrap">
                        <a href="javascript:;" onclick="EditRank()">
                            <i class="fas fa-edit tooltip gray"><span class="tooltiptext">Sửa</span></i>
                        </a>&ensp;
                        <a href="javascript:;" onclick="DeleteRank()">
                            <i class="fas fa-trash-alt tooltip gray"><span class="tooltiptext">Xóa</span></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>

        }
    </table>
</div>
<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>
